.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #c6c6c6;
  position: relative;
}
.user-video-div {
  height: 100%;
  width: 70%;
}
.user-video-div video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.sidebar-div {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}
.sidebar-div video {
  width: 100%;
}
.sidebar-div .functions {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: auto;
}
.sidebar-div .functions input {
  height: 35px;
  border-radius: 10px;
  padding: 0px 10px;
  outline: none;
  border: 2px solid #00adff;
  margin: 5px 0px;
}
.sidebar-div .functions button {
  height: 35px;
  background: #00adff;
  border-radius: 10px;
  outline: none;
  border: 1px solid #00adff;
  margin: 5px 0px;
}
@media only screen and (max-width : 768px) {
  .user-video-div{
    width: 100%;
  }
  .sidebar-div .functions{
    padding: 0px 10px 0px 0px;
  }
  .sidebar-div {
    position:absolute;
    right: 0;
    top: 0;
  }
}
