.call-status {
  margin-bottom: 1rem;
}
.user-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  transform: scaleX(-1);
}

button.reject-call > svg {
  transform: rotate(180deg);
}
button.reject-call {
  background: red;
  border: 2px solid red;
}
button.reject-call:hover {
  background: rgba(255, 0, 0, 0.418);
}
@media only screen and (max-width: 768px) {
}
