.self-video-div {
  bottom: 10px;
  left: 10px;
  z-index: 1;
  width: 250px;
  height: 250px;
  transition: 200ms ease-in-out;
  border-radius: 5px;
}
.self-video-div.hide {
  width: 35px;
  height: 35px;
}
.video-div {
  background-color: var(--bg-grey);
  border-radius: 5px;
}
.self-video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  transform: scaleX(-1);
}

.self-video-div .minimize-button {
  top: 0px;
  right: 0px;
  padding: 6px;
  background: rgba(255, 255, 255, 0.2);
  color: black;
  border-radius: 0px 5px 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 2;
  color: var(--bg-dark);
}
.self-video-div.hide .minimize-button {
  background: linear-gradient(#2196f3, #e91e63);
  color: #fff;
  border-radius: 5px;
}

.self-video-div .video-functions-buttons {
  display: flex;
  width: 90px;
  justify-content: space-between;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.self-video-div.hide .video-functions-buttons {
  display: none;
  width: 0px;
  height: 0px;
}
.self-video-div .video-functions-buttons span.mute-button,
span.camera-button {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  cursor: pointer;
  transition: 200ms ease-in-out;
}
.self-video-div .video-functions-buttons span.mute-button:hover,
span.camera-button:hover {
  transform: scale(0.98);
}
.self-video-div .video-functions-buttons span.mute-button.enabled,
span.camera-button.enabled {
  background: #fff;
  color: var(--bg-dark);
}

@media only screen and (max-width: 768px) {
  .self-video-div {
    width: 120px;
    height: 120px;
    left: auto;
    bottom: auto;
    top: 0px;
    right: 0px;
  }
  .self-video-div .video-functions-buttons {
    top: auto;
    flex-direction: column;
    bottom: 0px;
    width: auto;
    height: 90px;
    transform: translate(10px, 100px);
  }
}
